body {
    background-color: #F8F9FA;
}

html,
body {
    font-family: 'DM Sans', sans-serif;
}

.content-cont {
    margin: 0 auto;
    margin-top: 30px;

}


header .top-bar {
    padding: 10px 25px;
    margin: 0 auto;
}

header .top-bar h2 {
    font: normal normal normal 22px/26px DM Sans;
    letter-spacing: 0px;
    color: #707070;
    font-family: 'DM Sans', sans-serif;
    margin-bottom: 0;
}

header {
    background: #FEFEFE 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 2px #00000029;
    opacity: 1;
}

.inner-body-cont {
    background: white;
    min-height: 100vh;
    padding: 30px 40px;
}

.page-head {
    font: normal normal normal 22px/28px DM Sans;
    letter-spacing: 0px;
    color: #000000;
    font-family: 'DM Sans', sans-serif;
    border-bottom: 1px solid #c1c1c1;
    padding-bottom: 10px;
    margin-bottom: 15px;

}

.main-nav.navbar ul li a {
    font: normal normal normal 18px/22px DM Sans;
    letter-spacing: 0px;
    color: #707070;
    font-family: 'DM Sans', sans-serif;
    margin-bottom: 30px;
    margin-bottom: 0;
}


.main-nav.navbar ul li a:hover {
    text-decoration: none;
}

.main-nav .nav-item {
    display: flex;
    flex-wrap: wrap;
    padding: 5px 0;
    width: 100%;
    flex-direction: column;
}

.main-nav .nav-item a.active {
    color: #75A2D0;
}

.main-nav .nav-item img {
    display: inline-block;
    padding-right: 15px;
    width: 40px;
}

.main-nav .navbar-nav a {
    padding: 10px 25px;
    max-width: 280px;
}

.main-nav.navbar-nav {
    margin-top: 30px;
    width: 100%;
}


.main-nav.navbar-nav a.active {
    background: #EBF0FC;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}


.main-nav.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    width: 100%;
    flex-direction: column;
}


a.commn-btn {
    font: normal normal normal 18px/22px DM Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
    display: inline-block;
    padding: 15px 35px;
    background-color: #0055FF;
    color: white;
    font-family: 'DM Sans', sans-serif;
    border-radius: 5px;
}

.table-cont {
    margin-top: 30px;
}


.btn-bloat-right {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

/*connection table starts here*/
.commn-table-cont {
    margin-top: 30px;
}

.commn-table-cont table {
    border: 1px solid #CFCFCF;
}

.commn-table-cont table thead {
    background-color: #F8F9FA
}

.commn-table-cont table .first-row {
    width: 16%;
}

.commn-table-cont table .second-row {
    width: 22%;
}


.commn-table-cont table .third-row {
    width: 20%;
}

.commn-table-cont table .fourth-row {
    width: 20%;
}

.commn-table-cont table .fourth-row a {
    color: #0055FF;
}

.commn-table-cont table .fourth-row a.view-link {
    color: #0055FF;
    display: inline-block;
    margin-right: 25px;
    margin-top: 0;
}

.commn-table-cont table .fourth-row a.delete-link img {
    width: 20px;
}


.commn-table-cont table .fourth-row a.delete-link {
    cursor: pointer;
}

.commn-table-cont table .third-row p {
    display: inline-block;
    background-color: #EBF0FC;
    padding: 9px 25px;
    border-radius: 25px;
}

.commn-table-cont .table thead th {
    vertical-align: bottom;
    border-bottom: 0 solid #dee2e6;
}

.commn-table-cont tbody th {
    font-weight: 500;
}

.commn-table-cont thead th {
    font-weight: 700;
}

.commn-table-cont.flow-table .first-row {
    width: 10%;
}

.commn-table-cont.flow-table .second-row {
    width: 30%;
}

/*connection table ends here*/


/*flow form starts*/

.cont-form-all {
    padding: 10px 40px;
}

.cont-form-all .submit-cont {
    justify-content: flex-start;
    margin-top: 50px;
}


.cont-form-all .all-form-fl-w-ip {
    border: none;
    background: #F8F9FA;
    padding: 12px 15px;
    color: #707070;
}

.cont-form-all .form-control {
    height: unset;
}


.cont-form-all .label-input-cont {
    display: Flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.cont-form-all .label-input-cont p {
    width: 12%;
    margin-bottom: 0;
}

.cont-form-all .label-input-cont .all-form-fl-w-ip {
    width: 86%;
}

.cont-form-all .label-input-cont .outer-input-div {
    width: 86%;
}

.cont-form-all .label-input-cont .outer-input-div .error-message {
    padding-left:15px;
    color:red;
    padding-top:5px;
}

.cont-form-all .label-input-cont {
    margin-bottom: 30px;
}

.cont-form-all .dropdown-response-cont .label-input-cont p {
    width: 21%;
}

.cont-form-all .dropdown-response-cont .label-input-cont .all-form-fl-w-ip {
    width: 71%;
}

.cont-form-all .all-form-fl-w-ip.chk-bx {
    background: none;
}

.cont-form-all .add-conne-type-btn {
    display: flex;
    flex-wrap: Wrap;
    justify-content: flex-end;
    width: 100%;
}

.cont-form-all .add-conne-type-btn button {
    font: normal normal normal 18px/22px DM Sans;
    font-family: DM Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
    display: inline-block;
    padding: 15px 35px;
    background-color: #0055FF;
    color: white;
    font-family: 'DM Sans', sans-serif;
    border-radius: 5px;
}

.task-type-checkbox input[type="checkbox"],
.task-type-checkbox input[type="radio"] {
    margin-right: 15px;
}

.cont-form-all .label-input-cont input[type="checkbox"] {
    width: 30px;
    position: absolute;
    left: 15%;
}

.all-form-fl-w-ip.title-edit {
    background: white;
    font-weight: bold;
}

.checkbox-attribute {}

.cont-form-all .label-input-cont input[type="checkbox"].checkbox-attribute {
    width: 30px;
    position: static;
    display: inline-block;
  }


  .form-control.all-form-fl-w-ip.schedule-email-field {
    width: 71%;
}

span.checkbox-schedule-span {
    position: absolute;
    left: 18%;
}

.read-more-text {
    cursor:pointer;
    color: #0055FF
}


.all-form-fl-w-ip.remove-attribute-button {
    display: inline-block;
    padding: 5px 28px;
    background-color: #0055FF;
    color: white;
    font-family: 'DM Sans', sans-serif;
    border-radius: 5px;
    width: unset !important;
    cursor: pointer;
}

@media only screen and (max-width:992px) {
    .cont-form-all .label-input-cont p {
        width: 100%
    }

    .cont-form-all .label-input-cont input {
        width: 100%;
    }

    .cont-form-all,
    .inner-body-cont {
        padding: 10px;
    }
}

.loader {
    width: 30px;
    height: 30px;
    border-top: 3px solid rgb(255, 255, 255) !important;
    border-left: 3px solid transparent;
    border-right:  3px solid transparent;
    border-bottom: 3px solid rgb(255, 255, 255) !important;
    animation: loader 2s linear infinite;
    z-index: 1000000;
    border-radius: 50px;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
       
    }
    50%{
        border-top: 3px solid rgb(2, 173, 136) !important;
        border-bottom: 3px solid rgb(231, 255, 12) !important;
    }
    100% {
        transform: rotate(360deg);
        
    }
}
.spinner{
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.733),rgba(0, 0, 0, 0.473));
    color: #fff;
    opacity: 0.4;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*flow form ends*/